body {
  background: #5d617c;
}
.App {
  text-align: center;
  height: 80vh;
  background: #2d3341;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.App div {
  /* border: solid 3px #282c34; */
  background: #222933;
  color: #a2a6be;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1/ 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.sidebar > a {
  cursor: pointer;
  height: 8%;
}

.sidebar > a:hover {
  opacity: 0.5;
}

.main-content {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
